*{
    padding: 0;
    margin: 0;
}

.conteiner{
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-rows: 70px 1fr 40px;
    grid-template-columns: 1fr 1fr 1fr;
}
header{
    grid-column: 1/4;
    grid-row: 1/2;
    background-color: #05326D;
}
.card{
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-area: 'c1','c2';
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
h1{
    margin-top: 25px;
    text-align: center;
    font-size: 25px;
    font-family: '';
}
p{
    font-size: 20px;
    text-align: center;
}
.c1{
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: #0E51A7;
    
}
.c1_{
    background-color:#6997D3;
    display: none;
    height: 100%;
}
.c1:hover .c1_{
    display: block;
}
.c1:hover h1{
    display: none;
}
.c2{
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: #2a66ec; 
}
.c2_{
    background-color: #6997D3;
    display: none;
    height: 100%;
}
.c2:hover .c2_{
    display: block;
}
.c2:hover h1{
    display: none;
}
.c3{
    grid-column: 3/4;
    grid-row: 1/2;
    background-color: #0E51A7; 
}
.c3_{
    background-color: #6997D3;
    display: none;
    height: 100%;
}
.c3:hover .c3_{
    display: block;
}
.c3:hover h1{
    display: none;
}
.c4{
    grid-column: 4/5;
    grid-row: 1/2;
    background-color: #2a66ec; 
}
.c4_{
    background-color: #6997D3;
    display: none;
    height: 100%;
}
.c4:hover .c4_{
    display: block;
}
.c4:hover h1{
    display: none;
}
.c5{
    grid-column: 5/6;
    grid-row: 1/2;
    background-color: #0E51A7; 
}
.c5_{
    background-color:#6997D3;
    display: none;
    height: 100%;
}
.c5:hover .c5_{
    display: block;
}
.c5:hover h1{
    display: none;
}
.c6{
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: #2a66ec; 
}
.c6_{
    background-color:#6997D3;
    display: none;
    height: 100%;
}
.c6:hover .c6_{
    display: block;
}
.c6:hover h1{
    display: none;
}
.c7{
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: #0E51A7; 
}
.c7_{
    background-color:#6997D3;
    display: none;
    height: 100%;
}
.c7:hover .c7_{
    display: block;
}
.c7:hover h1{
    display: none;
}
.c8{
    grid-column: 3/4;
    grid-row: 2/3;
    background-color: #2a66ec; 
}
.c8_{
    background-color:#6997D3;
    display: none;
    height: 100%;
}
.c8:hover .c8_{
    display: block;
}
.c8:hover h1{
    display: none;
}
.c9{
    grid-column: 4/5;
    grid-row: 2/3;
    background-color: #0E51A7; 
}
.c9_{
    background-color:#6997D3;
    display: none;
    height: 100%;
}
.c9:hover .c9_{
    display: block;
}
.c9:hover h1{
    display: none;
}
.c10{
    grid-column: 5/6;
    grid-row: 2/3;
    background-color: #2a66ec; 
}
.c10_{
    background-color:#6997D3;
    display: none;
    height: 100%;
}
.c10:hover .c10_{
    display: block;
}
.c10:hover h1{
    display: none;
}
.c11{
    grid-column: 1/2;
    grid-row: 3/4;
    background-color: #0E51A7; 
}
.c11_{
    background-color:#6997D3;
    display: none;
    height: 100%;
}
.c11:hover .c11_{
    display: block;
}
.c11:hover h1{
    display: none;
}
.c12{
    grid-column: 2/3;
    grid-row: 3/4;
    background-color: #2a66ec; 
}
.c12_{
    background-color:#6997D3;
    display: none;
    height: 100%;
}
.c12:hover .c12_{
    display: block;
}
.c12:hover h1{
    display: none;
}
.c13{
    grid-column: 3/4;
    grid-row: 3/4;
    background-color: #0E51A7; 
}
.c13_{
    background-color:#6997D3;
    display: none;
    height: 100%;
}
.c13:hover .c13_{
    display: block;
}
.c13:hover h1{
    display: none;
}
.c14{
    grid-column: 4/5;
    grid-row: 3/4;
    background-color: #2a66ec; 
}
.c14_{
    background-color:#6997D3;
    display: none;
    height: 100%;
}
.c14:hover .c14_{
    display: block;
}
.c14:hover h1{
    display: none;
}
.c15{
    grid-column: 5/6;
    grid-row: 3/4;
    background-color: #0E51A7; 
}
.c15_{
    background-color:#6997D3;
    display: none;
    height: 100%;
}
.c15:hover .c15_{
    display: block;
}
.c15:hover h1{
    display: none;
}
.c16{
    grid-column: 1/2;
    grid-row: 4/5;
    background-color: #2a66ec; 
}
.c16_{
    background-color:#6997D3;
    display: none;
    height: 100%;
}
.c16:hover .c16_{
    display: block;
}
.c16:hover h1{
    display: none;
}
.c17{
    grid-column: 2/3;
    grid-row: 4/5;
    background-color: #0E51A7; 
}
.c17_{
    background-color:#6997D3;
    display: none;
    height: 100%;
}
.c17:hover .c17_{
    display: block;
}
.c17:hover h1{
    display: none;
}
.c18{
    grid-column: 3/4;
    grid-row: 4/5;
    background-color: #2a66ec; 
}
.c18_{
    background-color:#6997D3;
    display: none;
    height: 100%;
}
.c18:hover .c18_{
    display: block;
}
.c18:hover h1{
    display: none;
}
.c19{
    grid-column: 4/5;
    grid-row: 4/5;
    background-color: #0E51A7; 
}
.c19_{
    background-color:#6997D3;
    display: none;
    height: 100%;
}
.c19:hover .c19_{
    display: block;
}
.c19:hover h1{
    display: none;
}
.c20{
    grid-column: 5/6;
    grid-row: 4/5;
    background-color: #2a66ec; 
}
.c20_{
    background-color:#6997D3;
    display: none;
    height: 100%;
}
.c20:hover .c20_{
    display: block;
}
.c20:hover h1{
    display: none;
}
.c21{
    grid-column: 1/2;
    grid-row: 5/6;
    background-color: #0E51A7; 
}
.c21_{
    background-color:#6997D3;
    display: none;
    height: 100%;
}
.c21:hover .c21_{
    display: block;
}
.c21:hover h1{
    display: none;
}
.c22{
    grid-column: 2/3;
    grid-row: 5/6;
    background-color: #2a66ec; 
}
.c22_{
    background-color:#6997D3;
    display: none;
    height: 100%;
}
.c22:hover .с22_{
    display: block;
}
.c22:hover h1{
    display: none;
}
.c23{
    grid-column: 3/4;
    grid-row: 5/6;
    background-color: #0E51A7; 
}
.c23_{
    background-color:#6997D3;
    display: none;
    height: 100%;
}
.c23:hover .c23_{
    display: block;
}
.c23:hover h1{
    display: none;
}
.c24{
    grid-column: 4/5;
    grid-row: 5/6;
    background-color: #2a66ec; 
}
.c24_{
    background-color:#6997D3;
    display: none;
    height: 100%;
}
.c24:hover .c24_{
    display: block;
}
.c24:hover h1{
    display: none;
}
.c25{
    grid-column: 5/6;
    grid-row: 5/6;
    background-color: #0E51A7; 
}
.c25_{
    background-color:#6997D3;
    display: none;
    height: 100%;
}
.c25:hover .c25_{
    display: block;
}
.c25:hover h1{
    display: none;
}

.main{
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: #4282D3;
}
.main img{
    margin-top: 50px;
}
.main_ img{
    margin-top: 50px;
    margin-left: 40px;
}
.main_{
    grid-column: 3/4;
    grid-row: 2/3;
    background-color:#4282D3;
}

footer{
    grid-column: 1/4;
    grid-row: 3/4;
    background-color: #05326D;
}
h3{
    margin-top: 10px;
    text-align: center;
    font-family: 'annabelle';
    color: #FFB640;
}
h2{
    font-family: 'annabelle';
    font-size: 35px;
    color: #FF9E00;
    margin-top: 10px;
    margin-left: 50px;
}
h4{
    font-family: 'annabelle';
    margin-left: 350px;
    margin-top: -20px;
    color: #FFC973;
}